*{
  font-family: 'Orbit', sans-serif;
  margin:0;
}


header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px 9%;
  background: transparent;
  margin-bottom: 100px;
}


.navbar{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  width: 1140px;
  justify-content: space-between;
}

.topnav{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  
}

.topnav .nav-link{
  text-decoration:none;
  margin-left: 20px;
  color: black;
  border-bottom: 2px solid transparent;
}

.topnav .nav-link:hover {
  border-bottom: 2px solid;
}

div .btn:hover{
  border: 1px solid;
}

.tableRow:hover {
  border-bottom: 2px solid;
}

.navbar .logo{
  font-size: 30px;
  text-decoration:none;
  color: black;

}

.maxim {
  padding-top: 120px;
}

.pagebody{
  position: fixed;
  right: 0;
  margin-top: -250px;
  z-index: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px 9%;
  background: transparent;
}

.pageContent{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  /* width: 1140px; */
  justify-content: space-between;

  
}

.page_content{

  display: flex;
  margin: 0 auto;
  /* width: 1140px; */
  justify-content: space-between;

  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh;
  width: 100vw;
  /* margin-bottom: 50vh; */
}


@media (max-width:700px){
  .page_content .row {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* flex-flow: column 'reverse-wrap'; */
    /* flex-wrap: wrap; */
    /* flex-flow: column; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* font-size: 15px; */ 
  }

  div .canvas{
    height: 400px;
  }

  .col-5 {
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #canvas-container {
    height: auto;
    width: auto;
 }

  

  .page_content{

    display: flex;
  margin: 0 auto;
  /* width: 1140px; */
  justify-content: space-between;

    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    width: 100vw;
    /* margin-bottom: 50vh; */
  }
  

}

