*{
  font-family: 'Orbit', sans-serif;
  margin:0;
}


header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px 9%;
  background: transparent;
  
}


.navbar{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  width: 1140px;
  justify-content: space-between;
}

.topnav{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  
}

.topnav .nav-link{
  text-decoration:none;
  margin-left: 20px;
  color: black;
  border-bottom: 2px solid transparent;
}

.topnav .nav-link:hover{
  border-bottom: 2px solid;
}

.navbar .logo{
  font-size: 30px;
  text-decoration:none;
  color: black;

}

.maxim {
  padding-top: 120px;
}

.pagebody{
  position: fixed;
  right: 0;
  margin-top: -250px;
  z-index: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px 9%;
  background: transparent;
}

.pageContent{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  /* width: 1140px; */
  justify-content: space-between;
}

button{
  
  margin-bottom: 15px;
  width: 100%;
  
}

.page_content .row{
  flex-wrap: wrap;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}
